body {
    display: flex;
    justify-content: center;
}
#calcbox {
    width: 500px;
    height: 500px;
    border: 1px black solid;
}
#output {
    background-color: rgb(222, 222, 222);
    border: 2px rgb(100,100,100) solid;
    padding: 5px;
    text-align: end;
    height: 100px;
    
}

.utilButton {
    background-color: orange;
}

.opButton {
    background-color: cyan;
}

#buttonContainers {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3px;
    padding: 5px;
    height: 350px;
}

#buttonContainers button {
    border: 1px black solid;
}

.num0 {
    grid-column: 1 / 3;
}